.avatar {
    display: flex;
    justify-content: center;
    height: 192px;
    animation: fromTop .7s .2s backwards;
}

.avatar__div{
    width: 120px;
    margin: auto;
    background-image: linear-gradient(90deg, #C91842 0%, #5CC2E2 100%);
    padding: 4px;
    border-radius: 80px;
    margin: 36px 32px;
    display: flex;
    
}
.avatar__img {
    border-radius: 80px;
    width: 100%;

}
.avatar:hover {
    transform: scale(1.1);
}

/*animation */
@keyframes fromTop {
    from {
        opacity: 0;
        transform: translateY(-39px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
