.borda-gradiente--filmes {
    animation: fromBottom .7s backwards;
    animation-delay: 0;
}
.filmes {
    animation-delay: .0s;
    background-color: #2A2634;
    border-radius: 10px;
    padding: 24px 32px 32px;
    width: 580px;
}
.filmes__lista {
    display: flex;
    gap: 1rem;
    list-style: none;
    padding-top: 24px;
}
.filmes__img {
    border-radius: 8px;
    border: 1px solid #443E54;
    width: 110px;
    transition: tranform .3s;
}
.filmes__img:hover {
    transform: scale(1.1);
}