.borda-gradiente--series {
    animation: fromBottom .7s backwards;
    animation-delay: .3s
}
.series {
    background: #262629;
    border-radius: 10px;
    padding: 24px 32px 32px;
    width: 580px;
}
.series__lista {
    display: flex;
    gap: 1rem;
    list-style: none;
    padding-top: 24px;
}
.series__img{
    width: 110px;
}
.series__img {
    border-radius: 8px;
    border: 1px solid #443E54;
    transition: transform .3s;
}
.series__img:hover {
    transform: scale(1.1);

}

